@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.3;
}

@layer components {
  .mainPage {
    @apply min-h-screen;
  }
  .cusContainer {
    @apply w-[88%] mx-auto tl-l:px-[20px] tl-l:w-full;
  }

  .secSpacing {
    @apply mb-[60px] tl-p:mb-[40px];
  }

  .absImg {
    @apply absolute w-full h-full top-0 left-0 object-cover;
  }

  .errors {
    @apply text-[#ff0000] text-[12px];
  }
}
