@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FirsNeue";
  src: url("../../public/font/TTFirsNeueTrial_Regular.eot");
  src: url("../../public/font/TTFirsNeueTrial_Regular.eot")
      format("embedded-opentype"),
    url("../../public/font/TTFirsNeueTrial_Regular.woff2") format("woff2"),
    url("../../public/font/TTFirsNeueTrial_Regular.woff") format("woff"),
    url("../../public/font/TTFirsNeueTrial_Regular.ttf") format("truetype"),
    url("../../public/font/TTFirsNeueTrial_Regular.svg#TTFirsNeueTrial_Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FirsNeue_Medium";
  src: url("../../public/font/TTFirsNeueTrial_Medium.eot");
  src: url("../../public/font/TTFirsNeueTrial_Medium.eot")
      format("embedded-opentype"),
    url("../../public/font/TTFirsNeueTrial_Medium.woff2") format("woff2"),
    url("../../public/font/TTFirsNeueTrial_Medium.woff") format("woff"),
    url("../../public/font/TTFirsNeueTrial_Medium.ttf") format("truetype"),
    url("../../public/font/TTFirsNeueTrial_Medium.svg#TTFirsNeueTrial_Medium")
      format("svg");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "FirsNeue_Bold";
  src: url("../../public/font/TTFirsNeueTrial_Bold.eot");
  src: url("../../public/font/TTFirsNeueTrial_Bold.eot")
      format("embedded-opentype"),
    url("../../public/font/TTFirsNeueTrial_Bold.woff2") format("woff2"),
    url("../../public/font/TTFirsNeueTrial_Bold.woff") format("woff"),
    url("../../public/font/TTFirsNeueTrial_Bold.ttf") format("truetype"),
    url("../../public/font/TTFirsNeueTrial_Bold.svg#TTFirsNeueTrial_Bold")
      format("svg");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden !important;
  font-family: "FirsNeue";
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  overflow-x: hidden;
}

p {
  line-height: 1.2;
}

.fadeUp,
.fadeDown,
.fadeRight,
.fadeLeft,
.fadeIn {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

@layer components {
  .mainPage {
    @apply min-h-screen w-full;
  }

  .cusContainer {
    @apply px-[20px] mb:px-[10px];
  }

  .secSpacing {
    @apply mb-[60px] tl-p:mb-[40px];
  }

  .absImg {
    @apply absolute w-full h-full top-0 left-0 object-cover;
  }

  .errors {
    @apply text-[#ff0000] text-[12px];
  }

  .btnMain {
    @apply px-[60px] pt-[12px] pb-[10px] leading-[1] bg-greenDark text-green text-[28px] font-FirsNeueMedium rounded-[50px] mb:rounded-[30px] duration-500 hover:text-white hover:bg-[#07171cbb];
  }

  .btnMainGreen {
    @apply px-[60px] pt-[12px] pb-[10px] leading-[1] bg-green text-greenDark text-[28px] font-FirsNeueMedium rounded-[50px] mb:rounded-[30px] duration-500 hover:text-white hover:bg-[#bdff00bb];
  }
}
